.menu{
  height: 100%;
  margin-bottom:0px;  
  background: #363636;
}
.logo {
  position: relative;
  top: 20px;
  left:35%;
  width:40px;
  height: 109px;
  transform: matrix(0, -1, 0, -1, -1);
  background: transparent url('img/Imagem 4.png') 0% 0% no-repeat padding-box;
  opacity: 1;  
  color: aliceblue;
}
.div{
  background: #63C7A9;
  margin-top: 0px;
  height: 500px;
}
.layout{
  position: absolute;
  left: -200px;
  top: -18px;
  background: white;
  margin-top: 10px;
  padding-top: 110px;
  padding-left: 110px;
  padding-right: 110px;
  padding-bottom: 115px;
  border-radius: 5px;
  text-align: center;
  text-decoration-style: solid;  
  color: #63C7A9;  
}
.texto{
  font: normal normal bold 35px/46px Montserrat;
}
.layout > input{
  background: #63C7A9;
  
  margin-top: 10px;
}
.input{
  margin-bottom: 2px;
}
.btn{
  background: #63C7A9;
  color: white;
}

.rodape{ 
    background: #363636;  
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

